---
import { IoMdMail, IoLogoLinkedin, IoLogoWhatsapp } from "react-icons/io";
import ContactData from "./../../data/contact.json";
---

<div class="flex justify-center gap-4 items-center">
    {
        ContactData.map((val) => (
            <a href={val.link}>
                {val.type === "email" ? (
                    <IoMdMail className="text-amber-400 w-8 h-8" />
                ) : val.type === "wa" ? (
                    <IoLogoWhatsapp className="text-green-600 w-8 h-8 " />
                ) : val.type === "linkedin" ? (
                    <IoLogoLinkedin className="text-blue-500 w-8 h-8" />
                ) : null}
            </a>
        ))
    }
</div>
