---
import "../styles/global.css";
const { lang = "en" } = Astro.props as LangProps;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Roy Natanael Nainggolan adalah Software Developer berpengalaman dalam .NET, ReactJS, dan SQL Server. Lihat portofolio, proyek, dan keahlian Roy Natanael Nainggolan di sini."
        />
        <meta
            name="keywords"
            content="Roy Natanael Nainggolan, Software Developer, .NET Developer, ReactJS Developer, SQL Server, Programmer Indonesia, Portofolio Developer"
        />
        <meta name="author" content="Roy Natanael Nainggolan" />
        <meta name="robots" content="index, follow" />

        <title>Roy Natanael Nainggolan</title>
    </head>
    <body class="h-screen bg-latar overflow-x-hidden overflow-y-auto">
        <div class="flex h-full flex-col sm:flex-row gap-2 p-2 sm:max-w-[80%] mx-auto">
            <slot />
        </div>
    </body>
</html>
