---
import "../styles/global.css";
const { lang = "en" } = Astro.props as LangProps;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Roy Natanael Nainggolan</title>
    </head>
    <body class="h-screen bg-latar overflow-x-hidden overflow-y-auto">
        <div class="flex h-full flex-col sm:flex-row gap-2 p-2 sm:max-w-[80%] mx-auto">
            <slot />
        </div>
    </body>
</html>
